<section class="rewievs-section">
  <div class="container">
    <ul class="rewievs-list">
      <li class="rewievs-item">
        <h2 class="subtitle-rewievs">Lorem ipsum</h2>
        <p class="text-rewievs">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
          quidem minus tempora officiis quia repudiandae delectus accusantium.
          Facilis sequi est distinctio sit id, explicabo quibusdam sunt
          dignissimos sint, cumque exercitationem.
        </p>
      </li>
      <li class="rewievs-item">
        <h2 class="subtitle-rewievs">Lorem ipsum</h2>
        <p class="text-rewievs">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
          quidem minus tempora officiis quia repudiandae delectus accusantium.
          Facilis sequi est distinctio sit id, explicabo quibusdam sunt
          dignissimos sint, cumque exercitationem.
        </p>
      </li>
      <li class="rewievs-item">
        <h2 class="subtitle-rewievs">Lorem ipsum</h2>
        <p class="text-rewievs">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
          quidem minus tempora officiis quia repudiandae delectus accusantium.
          Facilis sequi est distinctio sit id, explicabo quibusdam sunt
          dignissimos sint, cumque exercitationem.
        </p>
      </li>
    </ul>
  </div>
</section>
