.hero-title {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.mini-title-color {
    color: var(--color-secondary);
    font-style: italic;
}

.hero-section {
    padding-top: 80px;
    padding-bottom: 56px;
}

.hero-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02;
}